div {
    background-image: url(../images/Sunrise.jpg );
    width: 375px;
    height: 500px;
    border: 8px solid #666;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}